*{box-sizing: border-box;font-family: monospace ,sans-serif, Arial;
}
html{scroll-behavior:smooth;}
:root {
  --primaryColor:#1b5e20; /*rgb(27,94,32) */
  --primaryColorDark: #003300;
  --primaryLightColor: #629749;
  --primaryVeryLight: rgb(220,250,220);
  --secondaryColor: #ff6d00;
  --secondaryDarkColor: #c43c00; /*rgb(196,60,0)*/
  --secondaryColorLight: #ffa040;
  --bgdColor: rgb(250, 255, 250);
}
.title{
  font-size: 4em;
  font-family: LCD5x8H;
  color: var(--primaryColor);
  width: 100%;
  text-align: center;
  font-weight: 600;
  text-shadow: 3px 3px 5px var(--secondaryDarkColor);
}
/* ---- intro image ----*/
figure{
  width: 1000px;
  height: 4000px;
  margin: auto;
  border-radius: 20px;
}
.introImage{
  width: 100%;
  height: 300px;
  background-image: linear-gradient(to right bottom, rgba(000, 51,000,0.8), rgba(196,60,000,0.8)), url('../images/circuit-board.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 20px;
  box-shadow: 3px 3px 10px black;
}
.p1, .p2, .p3{
  position: absolute;
  font-size: 1.1em;
  font-family: monospace;
  font-weight: border;
  text-align: justify;
}
.p1 i, .p2 i{
  font-size: 0.7em;
  margin-left: 80%;
}
.p3 i{text-align: right;font-size: 0.5em; margin-left: 85%;}
.p1{right: 10px; bottom: 0px;color: var(--secondaryColor);}
.p2{left: 10px;   top: 0px;  color: var(--secondaryColor); width: 50%;}
figcaption{
  font-size: 0.6em;
  margin-left: 80%;
}
.p3{font-size: 2em; top: 40%; left: 10%; width: auto; color:white;}
/* --- navigation tabs ---*/
.navTab{
  width: 1200px;
  height: 60px;
  margin: auto;
  margin-top: 30px;
  font-size: 1.2em;
  text-align: center;
  font-weight: 600;
  position: sticky;
  top: 0;
}
.navTab a{
    float: left;
    color: var(--primaryColor);
    text-decoration: none;
    width: 20%;
    height: 100%;
    background-color: var(--secondaryColorLight);
    border-right: ridge var(--secondaryColor);
    padding: 10px;
}
.activeNavTab, .navTab a:hover{
  background-color: var(--secondaryColor);
  color: var(--primaryVeryLight);
}

/*--- text container --*/
.txtContainer{
  width: 1200px;
  height: auto;
  padding: 100px 20px 100px 20px;
  margin: auto;
  background-color: var(--bgdColor);
}
dt{color: var(--primaryColor);}
/* --- TOPICS ---*/
.topics{
  width: 1200px;
  height: auto;
  background-color: var(--primaryVeryLight);
  margin: auto;
  padding-top: 90px;
  padding-bottom: 90px;
}
.collapsible{
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1em;
}
.collapsible{
  background-color: var(--primaryVeryLight);
  color: var(--primaryColorDark);
}
.colorExercise{
  background-color: var(--primaryLight);
  color: var(--primaryColorDark);
}
.colorLab{
  background-color: var(--primaryColor);
  color: var(--primaryVeryLight);
}
.writing{
  background-color: var(--primaryColorDark);
  color: var(--primaryVeryLight);
}
.active, .collapsible:hover{
  background-color: var(--primaryColorDark);
  color: var(--secondaryColorLight);
}
.collapsible:after{
  content: '\002B';
  color: var(--secondaryDarkColor);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2212";
  color: var(--secondaryColorLight);
  padding: 5px;
  border-radius: 5px;
}
.content {
  padding: 5px 15px 30px 15px;
  display: none;
  overflow: hidden;
  background-color: var(--bgdColor);
  height: auto;
}
.content iframe{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 60%;
  height: 500px;
}
.download{
  text-decoration: none;
  background-color: var(--secondaryColorLight);
  color: var(--primaryColor);
  border-radius: 5px;
  padding: 5px;
  font-weight: 600;
}
.download:hover{background-color: var(--secondaryColor); color: var(--primaryVeryLight);}
/* --  -- */
.exercises, .labExp, .wi, .credits{
  padding-top: 100px;
  padding-bottom: 100px;
  width: 1200px;
  height: auto;
  margin: auto;
}
.exercises{
background-color: var(--primaryLightColor);}
/* -- LAB EXPERIMENTS --*/
.labExp{  background-color: var(--primaryColor);}
.wi{
  background-color: var(--primaryColorDark);
}
/* --- credits -------*/
.credits{
  background-color: rgb(0,30,0);
  padding: 100px 20px 100px 20px;
  color: white;
  height: auto;

}
.copyrighted{
  width: 100%;
  height: 50px;
}
.credits img{
  width: 160px;
  height: 50px;
  float: left;
  margin-right: 30px;
}
.credits a{
  text-decoration: none;
  color: white;
}
.credits h6{
  text-align: center;
}

/*------------- MEDIA SCREEN ----------------------------------------
*/
@media only screen and (max-width: 1250px){
  figure{   width: 800px;   height: 400px; }
  .introImage{  height: 400px;}
  .p1, .p2, .p3{  font-size: 1em;}
  .p1 i, .p2 i{  font-size: 0.6em;}
  .p3 i{font-size: 0.5em}
  .p3{font-size: 1.3em; right: 10%;}

  /* --- navigation tabs ---*/
  .navTab{
    width: 800px;
    height: 55px;
    margin-top: 20px;
    font-size: 0.9em;
  }
  .navTab a{ padding: 8px; }

  /*--- text container --*/
  .txtContainer{
    width: 800px;
    height: auto;
    padding: 60px 15px 60px 15px;
    font-size: 0.9em;
  }

  /* --- topics ---*/
  .topics, .exercises, .labExp, .wi{
    width: 800px;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 0.9em;
  }
  .collapsible{
    padding: 18px;
    font-size: 1em;
  }
  /* --- collapsible content --*/
  .content {
    padding: 0 15px;
    font-size: 1em;
  }
/* --- credits -------*/
.credits{
  width: 800px;
  padding:60px 18px 60px 18px;
  font-size: 0.9em;
}
.copyrighted i{
  font-size: 0.8em;
}
}/* end of media
/*
------------- SMALL AND TABLET SCREEN ---------------
*/
@media only screen and (max-width: 850px) {
  figure{
    width: 460px;
    height: 300px;
  }
  .title{       font-size: 1.7em;   }
  .introImage{  height: 300px;}
  .p1, .p2, .p3{  font-size: 0.8em; width: 90%;}
  .p1, .p2{color: var(--primaryVeryLight)}
  .p1 i, .p2 i{  font-size: 0.6em;}
  .p3 i{font-size: 0.5em}
  .p3{font-size: 0.85em; right: 5%; left: 5%;}

  /* --- navigation tabs ---*/
  .navTab{
    width: 460px;
    height: 50px;
    margin-top: 15px;
    font-size: 0.7em;
  }

  /*--- text container --*/
  .txtContainer{
    width: 460px;
    height: auto;
    padding: 60px 10px 60px 10px;
    font-size: 0.7em;
  }
/* -- youtube video --- */
.content iframe{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  height: 300px;
}
  /* --- topics ---*/
  .topics, .exercises, .labExp, .wi{
    width: 460px;
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 0.7em;
  }
  .collapsible{
    padding: 12px;
    font-size: 1em;
  }
  /* --- collapsible content --*/
  .content {
    padding: 0 15px;
    font-size: 1em;
  }
  /* --- credits -------*/
  .credits{
    width: 460px;
    padding: 60px 12px 40px 12px;
    font-size: 0.7em;
  }
  .copyrighted i{
    font-size: 0.9em;
  }
  .copyrighted{
    height: 50px;
  }
  .copyrighted img{
    margin-top: 10px;
    width: 110px;
    height: 35px;
  }
}/* end of media
